/* 
.trips{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 400px;
  height: 200px;
  margin-top: 10px;
  



} */
/* .dates{
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .calender{
  display: flex;
  justify-content: center;
  align-items: center;
  
} */
/* 
.containerCal{
  width: 240px;
  height: 200px;
  background-color: darkblue;
  color: white;
} */


.form1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainBg{
  background-image: url(../../travel-frontend/src/images/tripBG.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.imageBack2{
  background-image: url(../../travel-frontend/src/images/travel-bg2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}


/* .newForm{
  max-width: 60%;
display: inline-flex;
justify-content: space-around;


} */


.forms{
  background-color: silver;
}
/* 
.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
